{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended",
    "plugin:fp/recommended",
    "plugin:lodash-fp/recommended",
  ],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype",
    "react",
    "fp",
    "jsx-a11y",
    "prefer-object-spread",
    "import",
    "lodash-fp",
    "promise",
  ],
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true,
    },
  },
  "env": {
    "browser": true,
  },
  "rules": {
    "import/extensions": [2, "never"],
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": true,
      "optionalDependencies": false,
    }],
    "no-confusing-arrow": 0,
    "no-underscore-dangle": 0,
    "semi": ["error", "always"],
    "new-cap": [2, {"capIsNew": false, "newIsCap": true }],
    "arrow-parens": 0,
    "comma-dangle": ["error", "always-multiline"],
    "operator-linebreak": ["error", "after"],
    "jsx-quotes": ["error", "prefer-single"],

    "react/prop-types": 0, // yannickcr/eslint-plugin-react/issues/453
    "react/jsx-filename-extension": ["error", { "extensions": [".js"] }],
    "react/jsx-max-props-per-line": ["error", { "maximum": 3 }],
    "react/no-danger": "error",
    "react/no-direct-mutation-state": "error",
    "react/sort-comp": [2, {
      "order": [
        "type-annotations",
        "static-methods",
        "lifecycle",
        "/^on.+$/",
        "/^(get|set)(?!(InitialState$|DefaultProps$|ChildContext$)).+$/",
        "everything-else",
        "/^render.+$/",
        "render",
      ],
    }],

    "fp/no-class": 0,
    "fp/no-this": 0,
    "fp/no-nil": 0,
    "fp/no-mutation": 0,
    "fp/no-unused-expression": 0,

    "promise/param-names": 2,
    "promise/always-return": 2,
    "promise/catch-or-return": 2,
    "promise/no-native": 0,

    "jsx-a11y/img-uses-alt": 0,
    "jsx-a11y/redundant-alt": 0,
    "jsx-a11y/valid-aria-role": 0,

    "prefer-object-spread/prefer-object-spread": 2,
  },
  "globals": {
    "React": true,
    "NODE_ENV": true,
    "__COMMITHASH__": true,
  }
}
