:root {
  --button-width: 200px;
  --button-height: 100px;
}

.button {
  width: var(--button-width);
  height: var(--button-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hover {
  background-color: #ddd;
}

.static {
  background-color: hotpink;
  color: #fff;
}

.active {
  background-color: #555;
  color: #fff;
}

.visited {
  background-color: #030;
  color: #fff;
}
