:root
  --button-size: 100px

.button
  size: var(--button-size)
  display: flex
  align-items: center
  justify-content: center

.hover
  background-color: #ddd

.static
  background-color: hotpink

.active
  background-color: #222
  color: #fff

.visited
  background-color: #030
  color: #fff
