:root {
  --base00: #181818;
  --base01: #282828;
  --base02: #383838;
  --base03: #585858;
  --base04: #b8b8b8;
  --base05: #d8d8d8;
  --base06: #e8e8e8;
  --base07: #f8f8f8;
  --base08: #c55;
  --base09: #eb3836;
  --base0A: #f7ca88;
  --base0B: #34b57c;
  --base0C: #45b1e8;
  --base0D: #7cafc2;
  --base0E: #97b9aa;
  --base0F: #a16946;
}
